<div class="container">
<%= stylesheet_link_tag "application" %>
  <div class="row">
    <div class="col-md-3" >
      <%= render 'public/searches/genre' %>
    </div>

    <div class="col-md-8 offset-md-1">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <h4 >
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </h4>

          <h2>新着商品</h2>

          <% @item.each do |item| %>
            <% if item.image.attached? %>
              <%= image_tag item.image, style: "max-width: 200px; max-height: 200px;" %>
            <% else %>
              <%= image_tag 'noimage.jpg', style: "max-width: 200px; max-height: 200px;" %>
            <% end %>
            <%= item.name %>
            ¥<%= item.price %><br>
          <% end %>

          <%= link_to '全ての商品を見る >', '/items' %><br>
        </div>
      </div>
    </div>