<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-4">注文履歴詳細</h2>
      
      <table class="table table-borderless">
        <tr>
          <th class="col-2">購入者</th>
          <td>
            <u><%= link_to @order.name, admin_customer_path(@order.customer), class: "text-dark" %></u>
          </td>
        </tr>
        
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at %></td>
        </tr>
        
        <tr>
          <th>配送先</th>
          <td><%= @order.address %></br><%= @order.name %></td>
        </tr>
        
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td></td>
        </tr>
        
        <tr>
          <th>注文ステータス</th>
          <td>
            <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
              <%= f.select :status, [["入金待ち", "payment_wait"], ["入金確認", "payment_confirm"], ["製作中", "production"], 
                ["発送準備中", "prepare_shipping"], ["発送済み", "shipped"]], { selected: @order.status }, { class: "px-2 text-center" } %>
              <%= f.submit "更新", class: "btn btn-sm btn-success ml-4" %>
            <% end %>
          </td>
        </tr>
        
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-9">
      <table class="table mt-4">
        <thead class="thead-light">
          <th>商品名</th>
          <th>単価 (税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
        </thead>
        
        <tbody>
          <% @order_details.each do |detail| %>
            <tr>
              <td><%= detail.item.name %></td>
              <td><%= detail.price.to_s(:delimited) %></td>
              <td><%= detail.amount %></td>
              <td><%= (detail.price * detail.amount).to_s(:delimited) %></td>
              <td>
                <%= form_with model: detail, url: admin_order_detail_path(detail.id), method: :patch do |f| %>
                  <%= f.select :making_status, [["着手不可", "not_ready"], ["製作待ち", "wait_production"], ["製作中", "production"], 
                    ["製作完了", "completed"]], { selected: detail.making_status }, { class: "px-3 text-center" } %>
                  <%= f.submit "更新", class: "btn btn-sm btn-success ml-4" %>
                <% end %>
              </td>
            </tr>
            
          <% end %>
        </tbody>
        
      </table>
    </div>
    
    <div class="col-3 mt-auto mb-3">
      <% item_total = OrderDetail.item_total(@order_details) %>
      
      <% postage = @order.postage %>
      
      <table class="ml-4">
        <tr>
          <th>商品合計</th>
          <td><%= item_total.to_s(:delimited) %>円</td>
        </tr>
        
        <tr>
          <th>送料</th>
          <td><%= postage.to_s(:delimited) %>円</td>
        </tr>
        
        <tr>
          <th>請求金額合計　</th>
          <td><%= (item_total + postage).to_s(:delimited) %>円</td>
        </tr>
        
      </table>
      </div>
      
  </div>
</div>