<style>
  .table-container {
    display: flex;
    justify-content: space-between;
  }
  .table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 85%;
  }
  .table th, .table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  .table thead th {
    background-color: #f2f2f2;
  }
  .vertical-table {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .vertical-table th, .vertical-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
   .vertical-table tbody th {
    background-color: #f2f2f2;
  }
  .nowrap {
    white-space: nowrap;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="bg-light" style="max-width: 260px; margin: 0 auto; padding: 15px;">
        <div class="text-center">
          <div class="col-12">
            <h3>注文情報確認</h3>
          </div>
        </div>
      </div>
      <br>

      <div class="table-container">
        <table class="table">

          <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>

          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <% if cart_item.item.image.attached? %>
                  <%= image_tag cart_item.item.image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'noimage.jpg', size: "100x100", class: "object-fit-cover mr-3" %>
                <% end %>

                <strong><%= cart_item.item.name %></strong>
              </td>
              <td>¥<%= (cart_item.item.price * 1.1).floor.to_s(:delimited) %></td>
              <td><%= cart_item.amount %></td>
              <td>¥<%= (cart_item.subtotal * 1.1).floor.to_s(:delimited) %></td> <!-- カートアイテムの小計を表示 -->
            </tr>
          <% end %>

        </thead>
      </table>

      <table class="vertical-table">
        <tbody>
          <tr>
            <th>送料</th>
            <td><%= @postage_fee %></td>
          </tr>
          <tr class="nowrap">
            <th>商品合計</th>
            <td><%= @cart_items_price.to_s(:delimited) %></td>
          </tr>
          <tr class="nowrap">
            <th>請求金額</th>
            <td><%= @total_price %></td>
          </tr>
        </tbody>
      </table>

    </div>

    <br>
    <h4><b>支払方法</b></h4>
    <% if @selected_pay_method == "credit_card" %>
      クレジットカード
    <% else %>
      銀行振込
    <% end %>
    <br>

    <br>
    <h4><b>お届け先</b></h4>

    <div class="col-md-12">
      <b><%= current_customer.last_name + current_customer.first_name %></b>
    </div>
    <div class="col-md-12">
      〒<%= current_customer.postcode %>
    </div>
    <div class="col-md-12">
      <%= current_customer.address %><!--ワイヤーフレームは郵便番号+住所+宛名だが修正。-->
    </div>

    <%= form_with model: @order do |f| %>
      <%= f.hidden_field :postcode, value: @order.postcode %>
      <%= f.hidden_field :name, value: @order.name %>
      <%= f.hidden_field :address, value: @order.address %>
      <%= f.hidden_field :payment_method, value: @order.payment_method %>
      <%= f.hidden_field :total_payment, value: @total_price %>
      <%= f.hidden_field :postage, value: @postage_fee %>
      <%= f.hidden_field :status, value: 0 %>

      <%= f.hidden_field :order_id, value: current_customer.id %>
      <%= f.hidden_field :total_payment, value: @total_price %>
      <%= f.hidden_field :order_method, value: 0 %>

      <!--<div class="col-12 text-center mt-3">-->
      <!--  <%#= f.submit "注文を確定する", class: "btn btn-success" %>-->
      <!--</div>-->

  <div class="col-12 text-center mt-3">
    <%= link_to "注文を確定する", completion_orders_path, class: "btn btn-success" %>
  </div>

    <% end %>

  </div>
</div>
</div>
<br>