<div class="container my-5">
  <div class="row">
    <div class="col">

      <div class="bg-light" style="max-width: 230px; margin: 0 auto; padding: 15px;">
        <div class="text-center">
          <div class="col-12">
            <h3>注文情報入力</h3>
          </div>
        </div>
      </div>

      <div class="col-12">
        <%= form_with model: @order, url: check_orders_path, method: :get do |f| %>

          <div class="mb-3">
            <h5>支払方法</h5>
            <div class="p-3">
              <div class="col-md-3">
                <label>
                  <%= f.radio_button :payment_method, "credit_card", checked: true %>
                  クレジットカード
                </label>
                <br>
                <label>
                  <%= f.radio_button :payment_method, "transfer" %>
                  銀行振込
                </label>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <h5>お届け先</h5>

            <div class="p-3">
              <div class="col-md-3">
                <%= f.radio_button :address_type, "customer_address", checked: true %>
                <%= f.label :address_type, "ご自身の住所" %><br>
                <div class="col-md-30">
                  <b><%= current_customer.last_name + current_customer.first_name %></b>
                </div>
                <div class="col-md-30">
                  〒<%= current_customer.postcode %>
                </div>
                <div class="col-md-30">
                  <%= current_customer.address %><!--ワイヤーフレームは郵便番号+住所+宛名だが修正。-->
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="p-3">
                <div class="col-md-3">
                  <%= f.radio_button :address_type, "registered_address" %>
                  <%= f.label :address_type, "登録済住所から選択" %><br>
                  <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :name) %>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="p-3">
                <div class="col-md-3">
                  <%= f.radio_button :address_type, "new_address" %>
                  <%= f.label :address_type, "新しいお届け先" %>
                </div>
              </div>
            </div>

            <div class="p-3">
              <div class="row">
                <div class="col-md-3">
                  <label for="new_post_code">郵便番号(ハイフンなし)</label>
                </div>
                <div class="col-md-3">
                  <%= f.text_field :new_address_post_code, id: "new_post_code", class: "form-control", placeholder: "0000000", style: "border-radius: 3px;" %>
                </div>
              </div>
            </div>

            <div class="p-3">
              <div class="row">
                <div class="col-md-3">
                  <label for="new_address">住所</label>
                </div>
                <div class="col-md-9">
                  <%= f.text_field :new_address, id: "new_address", class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0", style: "border-radius: 3px;" %>
                </div>
              </div>
            </div>

            <div class="p-3">
              <div class="row">
                <div class="col-md-3">
                  <label for="new_name">宛名</label>
                </div>
                <div class="col-md-3">
                  <%= f.text_field :new_name, id: "new_name", class: "form-control", placeholder: "令和道子", style: "border-radius: 3px;" %>
                </div>
              </div>
            </div>

            <div class="actions my-2 text-center">
              <%= f.submit "確認画面へ進む", class:"btn btn-primary mt-3" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>