<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%#= render 'public/shared/header.html.erb' %>
  <!--部分テンプレートできたらコメントアウト解除-->
</head>
<body>
<div class="container my-5">
  <div class="row">
    <div class="col">

      <div class="bg-light" style="max-width: 230px; margin: 0 auto; padding: 15px;">
        <div class="text-center">
          <div class="col-12">
            <h3>注文情報入力</h3>
          </div>
        </div>
      </div>

      <div class="col-12">

      <%= form_with model: Order.new, url: check_public_orders_path, method: :get do |f| %>
        <div class="mb-3">
          <h5>支払方法</h5>
          <div class="p-3">
            <div class="col-md-3">
              <label>
                <%= f.radio_button :payment_method, "credit_card", checked: true %>
                クレジットカード
              </label>
              <br>
              <label>
                <%= f.radio_button :payment_method, "transfer" %>
                銀行振込
              </label>
            </div>
          </div>
        </div>

        <h5>お届け先</h5>

        <div class="p-3">
          <div class="col-md-3">
            <%= f.radio_button :address_type, "customer_address", checked: true %>
            <%= f.label :address_type, "ご自身の住所" %><br>
            <div class="col-md-3">
            〒<%#= current_customer.post_code + "　" + current_customer.address + "　" + current_customer.family_name + current_customer.first_name %>
            </div>
          </div>

          <div class="p-3">
            <%= f.radio_button :address_type, "registered_address" %>
            <%= f.label :address_type, "登録済住所から選択" %><br>
            <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :name) %>
          </div>

          <div class="p-3">
            <%= f.radio_button :address_type, "new_address" %>
            <%= f.label :address_type, "新しいお届け先" %>
            <div class="p-3">

              <div class="row">
                <div class="col-md-3">
                  <label for="new_post_code">郵便番号(ハイフンなし)</label>
                </div>
                <div class="col-md-3">
                  <%= f.text_field :new_post_code, id: "new_post_code", class: "form-control", placeholder: "0000000", style: "border-radius: 3px;" %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <label for="new_post_code">住所</label>
                </div>
                <div class="col-md-9">
                  <%= f.text_field :new_post_code, id: "new_post_code", class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0", style: "border-radius: 3px;" %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <label for="new_name">宛名</label>
                </div>
                <div class="col-md-3">
                  <%= f.text_field :new_name, id: "new_name", class: "form-control", placeholder: "令和道子", style: "border-radius: 3px;" %>
                </div>
              </div>

            </div>

            <div class="actions my-2 text-center">
              <%= f.submit "確認画面へ進む", class:"btn btn-primary mt-3" %>
            </div>
            <% end %>

      </div>
    </div>
  </div>
</div>
</body>
<%#= render 'public/shared/footer.html.erb' %>
<!--部分テンプレート確認後コメントアウト解除-->
</html>