<h2>ログイン</h2>
<h3>会員の方はこちらからログイン</h3>

<%= form_with model: @customer, url: customer_session_path do |f| %>
  <table>
    <tr>
      <th align="left">メールアドレス</th>
      <td>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
        </div>
      </td>
    </tr>
    <tr>
      <th align="left">パスワード</th>
      <td>
        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </td>
    </tr>
  </table>
  

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<h3>会員登録がお済みでない方</h3>
<%= render "public/shared/links" %>
