<%= render 'public/searches/genre' %>

<h2>商品一覧(全 <%= @item.count %> 件)</h2>
<%= @item.each do |item| %>
  <div>
    <%= link_to item_path(item) do %>
      <%= image_tag item.get_image %>
    <% end %>
    <%= item.name %>
    ¥<%= item.price %>
  </div>
<% end %>
<%= paginate @item %>
